/* 商家logo */
.s_logo_wrapper{
  position: relative;
  height: 2rem;
  >img{
    width: 100%;
    height: 100%;
  }
  .s_logo{
    position: absolute;
    bottom: -0.2rem;
    left: 50%;
    width: 1.5rem;
    height: 1.5rem;
    transform: translateX(-50%);
    >img{
      width: 100%;
      height: 100%;
    }
  }
}
<<<<<<< HEAD

/* 商家介绍 */
.s_description{
  height: 2.6rem;
  padding-top: 0.6rem;
  border: 1px solid red;

  .s_shop_name{
    font-size: 0.4rem;
    text-align: center;
    font-weight: bold;
    color: #333;
    .icon-youjiantou1{
      margin-left: 0.1rem;
      font-size: 0.24rem;
    }
  }


}


=======
>>>>>>> bd9f857748dc77d2535582124497470ea5eb8c59
