.h_recommend{
  padding-top: 0.2rem;
  ::before{
    display: block;
    content: "";
    width: 0.5rem;
    height: 0.02rem;
    margin-right: 0.2rem;
    background-color: #999;
  }
  .h_recommend_title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0.72rem;
    font-size: 0.3rem;
    line-height: 0.72rem;
    text-align: center;
  }
  ::after{
    display: block;
    content: "";
    width: 0.5rem;
    height: 0.02rem;
    margin-left: 0.2rem;
    background-color: #999;
  }
}