/* 顶部导航信息 */
.md_header{
  position: sticky;
  z-index: 999;
  top: 0;
  height: 0.88rem;
  color: #fff;
  background: #0E8EFD;
  .icon-fanhui2{
    position: absolute;
    top: 0.2rem;
    font-size: 0.36rem;
    color: #fff;
  }
  .title{
    position: absolute;
    top: 0;
    left: 50%;
    overflow: hidden;
    max-width: 50%;
    margin-bottom: 0;
    line-height: 0.88rem;
    font-size: 0.36rem;
    font-weight: 700;
    color: #fff;
    transform: translateX(-50%);
  }
}