/* 头部搜索框 */
.h_search_wrapper{
  /*
    sticky 没有被纳入规范
    可以要移动端用
    top: 0; 优先级高
    bottom: 0;
    让它的父级有滚动条产生
   */
  position: sticky;
  top: 0;
  bottom: 0;
  z-index: 999;
  height: 1.02rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0E9CFD;
  .h_search{
    width: 7rem;
    height: 0.72rem;
    line-height: 0.72rem;
    text-align: center;
    font-size: 0.32rem;
    color: #999;
    background: #fff;
    .icon-xingtaiduICON_sousuo---copy{
      margin-right: 0.1rem;
      font-size: 0.3rem;
    }
  }
}