.app{
  color: #fff;
  height: 2000px;
  .h_top_location{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.34rem;
    background: #0E9CFD;
    .h_top_content{
      width: 7rem;
      padding-top: 0.12rem;
      height: 0.98rem;
      line-height: 0.98rem;
      .iconfont{
        font-size: 0.38rem;
      }
      span{
        font-weight: bold;
        margin-left: 0.1rem;
      }
    }
  }
}

/* 头部搜索框 */
.h_search_wrapper{
  /*
    sticky 没有被纳入规范
    可以要移动端用
    top: 0; 优先级高
    bottom: 0;
    让它的父级有滚动条产生
   */
  position: sticky;
  top: 0;
  bottom: 0;
  z-index: 999;
  height: 1.02rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0E9CFD;
  .h_search{
    width: 7rem;
    height: 0.72rem;
    line-height: 0.72rem;
    text-align: center;
    font-size: 0.32rem;
    color: #999;
    background: #fff;
    .icon-xingtaiduICON_sousuo---copy{
      margin-right: 0.1rem;
      font-size: 0.3rem;
    }
  }
}

/* 菜单部分 */

.h_menu{
  padding-top: 0.22rem;
  .h_menu_item{
    a{
      display: inline-block;
      width: 20%;
      text-align: center;
      img{
        width: 0.9rem;
        height: 0.9rem;
        margin: auto;
      }
      span{
        font-size: 0.16rem;
        color: #666;
      }
    }
  }
  .ant-carousel .slick-dots{
    bottom: -10px;
    li.slick-active{
      background: blue;
      button{
        width: 20px;
        background: #169CFB;
      }
    }
    li{
      button{
        width: 10px;
        background: #aaa;
      }
    }
  }
}

/* 抢购 */
.h_rushbuy{
  display: flex;
  justify-content: space-between;
  margin-top: 0.4rem;
  .hr_item{
    position: relative;
    width: 3.5rem;
    height: 2.8rem;
    text-indent: 0.26rem;
    background: #F4F4F4;
    .title{
      padding-top: 0.2rem;
      margin-bottom: 0;
      font-size: 0.34rem;
      font-weight: bold;
    }
    .hr_quality_title{
      color: #000;
    }
    .hr_rushbuy_title{
      color: red;
    }
    .hr_quality_desc{
      margin-bottom: 0.2rem;
      font-size: 0.28rem;
      color: #777;
    }
    .hr_quality_rush{
      font-size: 0.2rem;
      color: #af8260;
      font-weight: bold;
    }
    .hr_item_img{
      position: absolute;
      right: 0;
      bottom: 0;
      width: 2.4rem;
      height: 1.6rem;
    }
  }
}

.h_banner{
  height: 1.8rem;
  img{
    height: 1.8rem;
  }
}

.h_recommend{
  padding-top: 0.2rem;
  ::before{
    display: block;
    content: "";
    width: 0.5rem;
    height: 0.02rem;
    margin-right: 0.2rem;
    background-color: #999;
  }
  .h_recommend_title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0.72rem;
    font-size: 0.3rem;
    line-height: 0.72rem;
    text-align: center;
  }
  ::after{
    display: block;
    content: "";
    width: 0.5rem;
    height: 0.02rem;
    margin-left: 0.2rem;
    background-color: #999;
  }
}


.h_shops{
  color: #666;
  .h_shops_menu{
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
    line-height: 0.8rem;
    font-size: 0.28rem;
    li{
      height: 0.8rem;
      .icon-f111{
        font-size: 0.28rem;
      }
    }
  }
  .active{
    color: #333;
    font-weight: bold;
  }

  .h_shop_list{



    .h_shop_list_item{

    }

  }

}























