/* 顶部搜索框 */
.s_search_wrapper{
  display: flex;
  align-items: center;
  height: 1.01rem;
  .s_box{
    position: relative;
    .icon-ziyuan{
      position: absolute;
      top: 0.1rem;
      left: 0.16rem;
      font-size: 0.12rem;
    }
    input{
      width: 5.5rem;
      height: 0.57rem;
      padding: 0.13rem 0.3rem 0.13rem 0.66rem;
      border: none;
      border-radius: 0.04rem;
      font-size: 0.12rem;
      outline: none;
      background: #F7F7F7;
    }
  }
  .s_search_btn{
    border: none;
    margin-left: 0.2rem;
    outline: none;
    font-size: 0.32rem;
    font-weight: bold;
    background: #fff;
    color: #333;
  }
}

/* 热门搜索 */

.s_s_hot{
  padding-top: 0.4rem !important;
  color: #999;
  h4{
    font-size: 0.32rem;
    font-weight: bold;
    color: #999;
  }
  .s_s_hot_list{
    line-height: 0.4rem;
    a{
      display: inline-block;
      margin-right: 0.4rem;
      margin-bottom: 0.2rem;
      padding: 0.1rem 0.2rem;
      border-radius: 0.1rem;
      background: #F6F6F6;
    }
  }
}


















