.find{
  background: #F4F4F4;
}
.f_banner{
  width: 100%;
  height: 2.2rem;
  img{
    width: 100%;
    height: 100%;
  }
}

/* 金币商城 */
.f_gold_coin{
  height: 3.2rem;
  img{
    width: 100%;
    height: 100%;
  }
}

/* 限时好礼 */
.f_flash_gifts{
  height: 6.08rem;
  margin-top: 0.2rem;
  margin-bottom: 1rem;
  img{
    width: 100%;
    height: 100%;
  }
}